.footer{
    text-align: center;
}
body{
    background-image: url("../images/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: #fff;
    text-align: center;
}
.form-group1{
    text-align: center;
}
.container{
    text-align: center;  
}
.jumbotron{
    font-size: 20px;
    background-image: url("../images/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}
.intro{
    background-color: #ddd;
    color: black;
    font-size: 50px;
    font-weight: bold;
    padding: 12px;
}
footer{
    text-align: center;
    padding: 3px;
    background-color:black;
    color: white;
}
.car1{
    background-image: url("../images/back4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.car2{
    background-image: url("../images/back3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.car3{
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
.form-group1{
    margin-top: 7%;
    margin-bottom: 7%;
}
